<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @video.user %>
</p>

<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @video.body %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
