<p id="notice"><%= notice %></p>



<p>
  <strong>Name:</strong>
  <%= @video.name %>
</p>

<p>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @video.body.split("=")[1] %>" frameborder="0" allowfullscreen></iframe>
</p>
<p>
	<strong>Uploaded by:</strong>
	<%= @users.find(@video.user_id).username %>
</p>

<% if !current_user %>
	<%= link_to 'Back', root_path %>
<% else %>
	<%= link_to 'Back', videos_path %>
<% end -%>