<!DOCTYPE html>
<html>
  <head>
    <title>YoutubeWhiteRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div class="container">
  	<header>
	
		<div class="logo">
			
			<ul class = "name">	
				<li class="w"><%= image_tag ('YouTube-logo-full_color.png') %> </li>
				<li class="w">|</li>
				<!-- <li class="w"><img class="search" src="search.png" alt="Search"></li> -->
				<li class="w"><input class= "search-input" type="text" placeholder="&#128269; Search"></li>
			</ul>
			<ul class="login">
				<% if !current_user %>
					<li ><%= link_to 'Login', new_sessions_url %></li>
					<li class ="upload">|</li>
					<li><%= link_to 'Sign Up', new_users_url %></li>
				<% else %>
					<li><a href="#"><%= current_user.username.capitalize%></a></li>
					<li><%= link_to 'Log Out', logout_path, method: "delete" %></li>
				<% end -%>
			</ul>
		</div>
	
	</header>
	<div class="main">
			
			<section class="video">
				<%= yield %>
			</section>
			<section class="taskbar" >
				<ul class="listvideo">
					<li class ="we"> Guide</li>
					  <% if !current_user %>
			            <li class ="we"><a href="#"><%= image_tag ('profile_l.png'), class: 'line' %></a></li>
			          <% else %>
			            <li class ="we"><a href="#"><%= image_tag ('profile_l.png'), class: 'line' %> <%= current_user.username.capitalize%></a></li>
			            
			            
			          <% end %>
					
					<li class ="we"><a href="#"><%= image_tag ('world.png'), class: 'line' %> To Watch</a></li>
					<li class ="we"><a href="#"><%= image_tag ('heart.png'), class: 'line' %> Suscriptions</a></li>
					<li class ="we"><a href="#"><%= image_tag ('clipboard.png'), class: 'line' %> History</a></li>
					<li class ="we"><a href="#"><%= image_tag ('watch.png'), class: 'line' %> Watch Later</a></li>
				</ul>
			</section>
		</div>
	</div>
</div>
    
  </body>
</html>
